.section-discography {
   
   background-color: $black;
   
   width: 100%;
   height: auto;
   text-align: center;
 


   .container {
      height: auto;
      width: 100%;
      margin: auto;  
      
   }   
   
   @media (min-width: 1240px){
      .container {
      max-width: 1200px;
      }
   }
   

   h2 {
      margin-bottom: 48px;
   }

   
   
   .discography-inner {
      @extend %flex-start;
      flex-wrap: wrap;

      .discography-item {

         margin-right: 50px;
         margin-bottom: 25px;
               
            img {
               width: 250px;
               height: 250px;
               margin-bottom: 18px;
            }


            h4 {
               text-transform: capitalize;
            }

            p {
               @extend %text-style;
            }
         }
   
   }
}

