.section-discography {
   
   background-color: $black;
   
   width: 100%;
   height: auto;
   text-align: center;
 


   .container {
      height: auto;
      width: 100%;
      margin: auto;  

      @include mobile-portrait-only {
            width: 100%;
            padding-right: 20px;
            padding-left: 20px;
            display: block;
         }
      
   }   
   
   @media (min-width: 1240px){
      .container {
      max-width: 1200px;
      }
   }
   

   h2 {
      margin-bottom: 48px;

      @include mobile-portrait-only {

         font-size: 18px;
         line-height: 27px;
         text-align: left;
      }

     
   }

   
   
   .discography-inner {
      @extend %flex-start;
      flex-wrap: wrap;

      @include mobile-portrait-only {
         width: 100%;
       }

     



      .discography-item {
         margin-bottom: 25px;
         margin-right: 50px;
               
            img {
               width: 250px;
               height: 250px;
               margin-bottom: 18px;

               @include mobile-portrait-only {
                  width: 137px;
                  height: 137px;
               }


            
            }


            h4 {
               text-transform: capitalize;
            }

            p {
               @extend %text-style;
            }

         @include mobile-portrait-only {
              width: 50%;
              margin-right: 0px;
            }



         }
   
   }
}

