
@import "../mixins";



@mixin reset {
   margin: 0;
   padding: 0;
}

header {
   position: absolute;
   background: transparent;
   top: -175px;
   width: 100%;
   display: flex;
   flex-direction: row;
   justify-content: space-between;  
   vertical-align: middle;
   
   
   .nav-logo {
      
      display: flex;
      justify-content: space-between;
      margin-right: 90px;
      
            
      .logo  {
         width: 24px;
         height: 24px;
         
           
   
         @include mobile-portrait-only {
               margin-bottom: 17px;
         }

      }

      p {
         color: #cacaca;
         text-transform: uppercase;
         line-height: 16.5px;
         
      }
   }

   .header-nav {
      
      @extend %flex-between;



      li {
         list-style-type: none; 
         display: inline-block;

        
         @include mobile-portrait-only {
            width: 100%;
            padding-right: 20px;
            padding-left: 20px;
            display: block;
         }

         a {
            
            color: $darkgray;
            text-transform: uppercase;
            font-size: 11px;
            line-height: 16.5px;
            
   
      
            @include mobile-portrait-only {
               display: block;
               width: 100%;
               
            }
         }

   
      }
   }
   
.input-nav {
   background: $dark;
   border-radius: 50px;
   background-color: #3C3B3D;
   border-radius: 50px;
   margin-left: auto;
   min-width: 248px;

   @include mobile-portrait-only {
      width: 100% ;
   }

   &::placeholder {

      min-width: 248px;
      padding-left: 10px;
      font-family: Arial;
      font-style: normal;
      font-weight: normal;
      font-size: 13.3px;
      line-height: 15.29px;
      text-transform: uppercase;
      color: #757575;

     


   }
   
   @include mobile-portrait-only {
         margin-top: 18pх;
   }
}
}





   