@import "../mixins";

/*News*/


   
   h2 {
      margin-bottom: 50px;

      @include mobile-portrait-only {
         font-size: 18px;
         line-height: 27px;
         text-align: center;
      }
   }

   .news-item-first {
      display: flex;
      justify-content: space-between;
      text-align: left;
      margin-bottom: 65px;
      
      @include mobile-portrait-only {
         flex-wrap: wrap;

      }

      h3 {
         font-size: 30px;
         line-height: 45px;
         margin-bottom: 30px;
         text-transform: capitalize;
         font-weight: 400;


         @include mobile-portrait-only {
            font-size: 16px;
            line-height: 24px;
            margin-bottom: 18px;
         }
      }

      
      

      &:last-child {
         padding-bottom: 0;
      }

      

    
         
         
         
         .img-left {
            height: auto;
            width: auto;
            
           
            


            @include mobile-portrait-only {
               width: 100%;
               margin-bottom: 50px;
               margin-right: 0px;
               
               
            }
         }



         .news-body {
            width: 100%;
            
         }
         
         @include mobile-portrait-only {
            display: block;
            width: 100%;
            margin-right: 0px;
         }

        

         
      }

    

            

         
        

         @include mobile-portrait-only {
            
            display: block;
            width: 100%;
            margin-left: 0px;
         }
      

     



   

      .news-footer {

         width: 100%;
         display: inline-block;
         
  
         

         a {

            @extend %btn;
            background: none;
            border: 1px solid $white;
            padding: 16px 30px;
            font-size: 12px;
            line-height: 19.2px;
            color: $darkgray;
            display: table-cell;
            outline: none;

            

            @include mobile-portrait-only {

               font-size: 12.8px;
               line-height: 19.2px;
               font-weight: 400;
              
            }

         }

      
   
      }
      
      .news-author {
         display: flex;
         justify-content: start;
         margin-bottom: 48px;
        

         img {
            width: 19px;
            height: 19px;
         }

         p {
            text-transform: uppercase;
         }
      }

      .news-item-second {

         display: flex;
         justify-content: space-between;
         text-align: left;
         
         @include mobile-portrait-only {
            flex-wrap: wrap;
   
         }



      h3 {
         font-size: 30px;
         line-height: 45px;
         margin-bottom: 30px;
         text-transform: capitalize;
         font-weight: 400;


         @include mobile-portrait-only {
            font-size: 16px;
            line-height: 24px;
            margin-bottom: 18px;
         }
      }

         .news-block {

            @include mobile-portrait-only {
               flex-wrap: wrap;
               order: 1;
               
      
            }

         }
         .img-right {
            height: auto;
            width: auto;
           
            
         

            @include mobile-portrait-only {
               width: 100%;
               margin-left: 0px;
               margin-top: 64px;
               order: 2;
            }
         }
      }
