@import "../mixins";

.section-prising {
   @extend %section-style;
   padding-top: 100px;
   margin: 0 auto;



   .container {
      height: auto;
      width: 100%;
      margin: auto;
      position: relative;


      @include mobile-portrait-only {
         width: 100%;
         display: block;
         
      }
   }
   @media (min-width: 1240px){
      .container {
      max-width: 1200px;
      }
   }

  

   h2 {
      padding-bottom: 50px;

      @include mobile-portrait-only {
         font-size: 18px;
         line-height: 27px;
      }
   }

   
   .section-prising-inner {
      display: flex;
      justify-content: space-around;


      @include mobile-portrait-only {

         display: flex;
         flex-wrap: wrap;
      }
      
   

   

      .pricing-item {
         width: 33.33333%;
         padding-left: 1.5rem;
         padding-right: 1.5rem;
         border-radius: 1rem;
         margin-right: 50px;
         height: auto;
         margin-bottom: 40px;

         @include mobile-portrait-only {

            width: 100%;
            
            margin-right: 20px;
            margin-left: 20px;

            }
         
         
         
        
         

         &.bg-free {
            background-image: url('../images/subscribe_1.png');
            background-size: cover;
         
           
         }

         &.bg-standart {
            background-image: url('../images/subscribe_2.png');
            background-size: cover;
         }
      
         &.bg-premium {
            background-image: url('../images/subscribe_3.png');
            background-size: cover;
         }

         &:last-child {
            margin-right: 0px;

            @include mobile-portrait-only {

               margin-right: 20px;

            }
            


         }
         
   

         h3 {
            padding-bottom: 200px;
            padding-top: 24px;
            line-height: 36px;

            @include mobile-portrait-only {
               font-size: 16px;
               line-height: 24px;
            }
         }

         .pricing-value {
            margin-bottom: 40px;
            line-height: 1em;
            font-size: 64px;
            font-family: 'Roboto', sans-serif;
            text-transform: uppercase;
            font-weight: 400;
            font-style: normal;
            
            span {
               font-size: 32px;
               vertical-align: text-top;
               color: $white;

               @include mobile-portrait-only {
                  font-size: 32px;
                  line-height: 48px;
               }
            }
         }


         .pricing-footer {
            color: $white;
            margin-top: 64px;
            margin-bottom: 64px;
         }

         a {
            @extend %btn;
            background: none;
            text-decoration: none;
            border: 1px solid $white;
            display: inline-block;
            font-size: 16px;
            line-height: 24px;

            @include mobile-portrait-only {
               font-size: 16px;
               line-height: 24px;
            }
         }

         small {
            @extend %text-small;
            
         }

         
      }
   }
   p {
      font-size: 16px;
      color: $white;
      line-height: 24px;

      @include mobile-portrait-only {
         padding-right: 20px;
         padding-left: 20px;


      }
      

   }
}
   