.section-tracks   {
   background-color: $black;
   width: 100%;
   height: auto;
   text-align: center;


   .container {
      height: auto;
      width: 100%;
      margin: auto;  
     
   }   
   
   @media (min-width: 1240px){
      .container {
      max-width: 1200px;
      }
   }
   

   h2 {
      margin-bottom: 57px;
   }

   .section-inner-track {
      @extend %flex-between; 
      flex-direction: row;
      

      .inner-column {
         width: 50%;
         display: block;
      }
   }
  

   .popular-track {

      
      margin: 25px 50px;
      vertical-align: middle;
      @extend %flex-between;

      .track-info {
         text-align: left;
      }

     
         

         span {
            margin-left: auto;
            color: $white;
            font-size: 12.8px;
            line-height: 19.2px;
           
         }



      }
      


     

     


   



   img {
      width: 55px;
      height: 55px;
      margin-right: 15px;
   }

  

   p {
      font-family: 'Roboto', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 12.8px;
      line-height: 19.2px;
     
      
     
      &:first-child {
         font-weight: 700;
         text-transform: uppercase;
      }
   }

   
}
