body {
  background: #08020D; }

h1, h2, h3, h4 {
  font-family: Roboto,'Open Sans', sans-serif;
  text-transform: uppercase;
  color: #FFFFFF; }

h1, h2, h4 {
  font-weight: 700; }

h1 {
  font-size: 60px;
  line-height: 90px; }

h2 {
  font-size: 38px;
  line-height: 57px; }

h4 {
  font-size: 18px;
  line-height: 27px; }

p {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  color: #FFFFFF;
  font-size: 11px;
  font-weight: 400; }

a {
  list-style: none;
  text-decoration: none;
  font-weight: 400; }

.section-artists .container .input-button, .section .section-inner .form .input-button, .section-app .mobile-item .mobile-text a, .section-prising .section-prising-inner .pricing-item .btn, .section-news .news-footer a {
  width: 100%;
  padding: 20px 30px;
  border-radius: 5px;
  color: #FFFFFF;
  text-transform: uppercase;
  font-weight: 400;
  text-decoration: none; }

header .header-nav, .section-tracks .section-inner-track, .section-tracks .popular-track, .section-artists .form, .section .section-inner .form, .section-app .mobile-item, .footer-section .container {
  display: flex;
  justify-content: space-between; }

.section-discography .discography-inner, .section-similar .similar-inner {
  display: flex;
  justify-content: flex-start; }

.section-app, .section-prising {
  text-align: center;
  background-color: #08020d;
  width: 100%;
  height: auto; }

.section-discography .discography-inner .discography-item p, .section-similar .similar-inner .similar-item p, .section .section-inner p, .footer-section .footer-inner .footer-link, .footer-contacts .contacts-link, .section-news p {
  font-size: 16px;
  line-height: 24px;
  font-family: 'Roboto', serif;
  font-style: normal;
  font-weight: 400; }

ul {
  margin: 0;
  padding: 0; }

.section {
  padding-top: 200px;
  padding-bottom: 200px; }

.section-prising .section-prising-inner .pricing-item small {
  font-size: 12.8px;
  line-height: 19.2px; }

.section-background {
  background-image: url("../images/banner.png");
  background-position: center;
  background-size: cover; }

/*Header*/
header {
  position: absolute;
  background: transparent;
  top: -175px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  vertical-align: middle;
  width: 100%; }
  @media (max-width: 414px) {
    header {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      width: calc(100% - 40px); } }
  header .nav-logo {
    display: flex;
    justify-content: space-between;
    margin-right: 90px;
    line-height: 16.5px;
    align-items: center; }
    @media (max-width: 414px) {
      header .nav-logo {
        justify-content: start;
        margin-bottom: 17px;
        margin-right: 0; } }
    header .nav-logo .logo {
      width: 24px;
      height: 24px; }
    header .nav-logo p {
      color: #cacaca;
      text-transform: uppercase; }
  header .header-nav {
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-style: normal; }
    @media (max-width: 414px) {
      header .header-nav {
        display: flex;
        flex-direction: column;
        margin-bottom: 18px;
        align-items: flex-start; } }
    header .header-nav li {
      list-style-type: none;
      display: inline-block;
      font-size: 11px;
      line-height: 16.5px; }
      @media (max-width: 414px) {
        header .header-nav li {
          display: block; } }
      header .header-nav li a {
        color: #cacaca;
        text-transform: uppercase; }
  header .input-nav {
    background: #3C3B3D;
    border-radius: 50px;
    margin-left: auto;
    min-width: 248px; }
    @media (max-width: 414px) {
      header .input-nav {
        margin-left: 0; } }
    header .input-nav::placeholder {
      min-width: 248px;
      padding-left: 10px;
      font-family: Arial;
      font-style: normal;
      font-weight: normal;
      font-size: 13.3px;
      line-height: 15.29px;
      text-transform: uppercase;
      color: #757575; }

.section-tracks {
  background-color: #08020d;
  width: 100%;
  height: auto;
  text-align: center; }
  .section-tracks .container {
    height: auto;
    width: 100%;
    margin: auto; }
    @media (max-width: 414px) {
      .section-tracks .container {
        width: 100%;
        padding-right: 20px;
        padding-left: 20px;
        display: block; } }
  @media (min-width: 1240px) {
    .section-tracks .container {
      max-width: 1200px; } }
  .section-tracks h2 {
    margin-bottom: 57px;
    font-size: 38px;
    line-height: 57px;
    font-weight: 700; }
    @media (max-width: 414px) {
      .section-tracks h2 {
        font-size: 18px;
        line-height: 27px;
        text-align: left; } }
  .section-tracks .section-inner-track {
    flex-direction: row; }
    @media (max-width: 414px) {
      .section-tracks .section-inner-track {
        display: flex;
        flex-direction: column; } }
    .section-tracks .section-inner-track .inner-column {
      width: 50%;
      display: block; }
      @media (max-width: 414px) {
        .section-tracks .section-inner-track .inner-column {
          width: 100%; } }
  .section-tracks .popular-track {
    margin: 25px 50px;
    vertical-align: middle;
    align-items: center; }
    @media (max-width: 414px) {
      .section-tracks .popular-track {
        width: auto;
        margin: 0px 0px 25px 0px; } }
    .section-tracks .popular-track .track-info {
      text-align: left; }
      .section-tracks .popular-track .track-info h3 {
        font-weight: 700px;
        font-size: 12.8px;
        line-height: 19.2px;
        color: #FFFFFF; }
    .section-tracks .popular-track span {
      margin-left: auto;
      color: #FFFFFF;
      font-size: 12.8px;
      line-height: 19.2px; }
  .section-tracks img {
    width: 55px;
    height: 55px;
    margin-right: 15px; }
  .section-tracks p {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12.8px;
    line-height: 19.2px; }
    .section-tracks p:first-child {
      font-weight: 700;
      text-transform: uppercase; }

.section-discography {
  background-color: #08020d;
  width: 100%;
  height: auto;
  text-align: center; }
  .section-discography .container {
    height: auto;
    width: 100%;
    margin: auto; }
    @media (max-width: 414px) {
      .section-discography .container {
        width: 100%;
        padding-right: 20px;
        padding-left: 20px;
        display: block; } }
  @media (min-width: 1240px) {
    .section-discography .container {
      max-width: 1200px; } }
  .section-discography h2 {
    margin-bottom: 57px;
    font-size: 38px;
    line-height: 57px;
    font-weight: 700; }
    @media (max-width: 414px) {
      .section-discography h2 {
        font-size: 18px;
        line-height: 27px;
        text-align: left; } }
  .section-discography .discography-inner {
    flex-wrap: wrap; }
    @media (max-width: 414px) {
      .section-discography .discography-inner {
        width: 100%; } }
    .section-discography .discography-inner .discography-item {
      margin-bottom: 25px;
      margin-right: 50px; }
      .section-discography .discography-inner .discography-item img {
        width: 250px;
        height: 250px;
        margin-bottom: 18px; }
        @media (max-width: 414px) {
          .section-discography .discography-inner .discography-item img {
            width: 137px;
            height: 137px; } }
      .section-discography .discography-inner .discography-item h3 {
        text-transform: capitalize;
        font-weight: bold;
        font-size: 18px;
        line-height: 27px; }
        @media (max-width: 414px) {
          .section-discography .discography-inner .discography-item h3 {
            text-align: left; } }
      .section-discography .discography-inner .discography-item p {
        text-transform: capitalize; }
        @media (max-width: 414px) {
          .section-discography .discography-inner .discography-item p {
            text-align: left; } }
      @media (max-width: 414px) {
        .section-discography .discography-inner .discography-item {
          margin-right: auto; } }

.section-similar {
  background-color: #08020d;
  padding-bottom: 100px;
  width: 100%;
  height: auto;
  text-align: center; }
  .section-similar .container {
    height: auto;
    width: 100%;
    margin: auto;
    position: relative; }
    @media (max-width: 414px) {
      .section-similar .container {
        width: 100%;
        padding-right: 20px;
        padding-left: 20px;
        display: block; } }
  @media (min-width: 1240px) {
    .section-similar .container {
      max-width: 1200px; } }
  .section-similar h2 {
    margin-bottom: 48px; }
    @media (max-width: 414px) {
      .section-similar h2 {
        font-size: 18px;
        line-height: 27px;
        text-align: left; } }
  .section-similar .similar-inner {
    flex-wrap: wrap; }
    .section-similar .similar-inner .similar-item {
      margin-bottom: 25px;
      text-align: center;
      margin-right: 50px; }
      @media (max-width: 414px) {
        .section-similar .similar-inner .similar-item {
          margin-right: auto; } }
      .section-similar .similar-inner .similar-item img {
        width: 250px;
        height: 250px;
        margin-bottom: 18px; }
        @media (max-width: 414px) {
          .section-similar .similar-inner .similar-item img {
            height: 137px;
            width: 137px; } }
      .section-similar .similar-inner .similar-item h3 {
        text-transform: capitalize;
        font-size: 18px;
        line-height: 27px;
        font-weight: 700; }
      @media (max-width: 414px) {
        .section-similar .similar-inner .similar-item p {
          text-align: center; } }

body {
  background: #08020D; }

h1, h2, h3, h4 {
  font-family: Roboto,'Open Sans', sans-serif;
  text-transform: uppercase;
  color: #FFFFFF; }

h1, h2, h4 {
  font-weight: 700; }

h1 {
  font-size: 60px;
  line-height: 90px; }

h2 {
  font-size: 38px;
  line-height: 57px; }

h4 {
  font-size: 18px;
  line-height: 27px; }

p {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  color: #FFFFFF;
  font-size: 11px;
  font-weight: 400; }

a {
  list-style: none;
  text-decoration: none;
  font-weight: 400; }

.section-artists .container .input-button, .section .section-inner .form .input-button, .section-app .mobile-item .mobile-text a, .section-prising .section-prising-inner .pricing-item .btn, .section-news .news-footer a {
  width: 100%;
  padding: 20px 30px;
  border-radius: 5px;
  color: #FFFFFF;
  text-transform: uppercase;
  font-weight: 400;
  text-decoration: none; }

header .header-nav, .section-tracks .section-inner-track, .section-tracks .popular-track, .section-artists .form, .section .section-inner .form, .section-app .mobile-item, .footer-section .container {
  display: flex;
  justify-content: space-between; }

.section-discography .discography-inner, .section-similar .similar-inner {
  display: flex;
  justify-content: flex-start; }

.section-app, .section-prising {
  text-align: center;
  background-color: #08020d;
  width: 100%;
  height: auto; }

.section-discography .discography-inner .discography-item p, .section-similar .similar-inner .similar-item p, .section .section-inner p, .footer-section .footer-inner .footer-link, .footer-contacts .contacts-link, .section-news p {
  font-size: 16px;
  line-height: 24px;
  font-family: 'Roboto', serif;
  font-style: normal;
  font-weight: 400; }

ul {
  margin: 0;
  padding: 0; }

.section {
  padding-top: 200px;
  padding-bottom: 200px; }

.section-prising .section-prising-inner .pricing-item small {
  font-size: 12.8px;
  line-height: 19.2px; }

.section-background {
  background-image: url("../images/banner.png");
  background-position: center;
  background-size: cover; }

.section-artists {
  background-image: url("../images/Morten Harket.png");
  background-position: center;
  background-size: cover; }
  .section-artists .container {
    height: auto;
    width: 100%;
    margin: auto;
    position: relative; }
    @media (max-width: 414px) {
      .section-artists .container {
        width: 100%;
        padding-right: 20px;
        padding-left: 20px; } }
    .section-artists .container .input-button {
      width: 200px;
      background-color: #5328A1;
      border: none;
      font-family: 'Arial';
      font-size: 12.8px;
      padding: 20px 30px;
      margin-right: 1.5rem;
      display: inline-block; }
      @media (max-width: 414px) {
        .section-artists .container .input-button {
          margin-bottom: 24px;
          margin-right: 0; }
          .section-artists .container .input-button:last-child {
            margin-bottom: 0; } }
      .section-artists .container .input-button:last-child {
        margin-right: 0px;
        background-color: #95390C; }
  @media (min-width: 1240px) {
    .section-artists .container {
      max-width: 1200px; } }
  .section-artists h1 {
    margin-bottom: 16px; }
    @media (max-width: 414px) {
      .section-artists h1 {
        font-size: 30px;
        line-height: 45px; } }
  .section-artists .fans-counter {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 48px; }
  .section-artists button img {
    width: 20px;
    height: 17.79px;
    margin-right: 16px;
    filter: invert(1);
    vertical-align: middle; }
  .section-artists .form {
    width: 100%;
    max-width: 570px; }
    .section-artists .form .input {
      width: 50%;
      min-height: 50px;
      min-width: 270px;
      padding-left: 20px;
      margin-bottom: 1.5rem;
      border: 2px solid #FFFFFF;
      border-radius: 3px;
      margin-right: 24px;
      background: none; }
      .section-artists .form .input:last-child {
        margin-right: 0; }

.mr-24 {
  margin-right: 24px; }

.mb-24 {
  margin-bottom: 24px; }

.mr-16 {
  margin-right: 16px; }

.pt-16 {
  padding-top: 16px; }

.pb-16 {
  padding-bottom: 16px; }

.pl-40 {
  padding-left: 40px; }

.pr-40 {
  padding-right: 40px; }

.ml-16 {
  margin-left: 16px; }

.mr-40 {
  margin-right: 40px; }

.mt-40 {
  margin-top: 40px; }

.mr-50 {
  margin-right: 50px; }

.ml-50 {
  margin-left: 50px; }

.pt-100 {
  padding-top: 100px; }

.pb-100 {
  padding-bottom: 100px; }

.pt-200 {
  padding-top: 200px; }

.pb-200 {
  padding-bottom: 200px; }

.orange {
  color: #F89202; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

input {
  padding: 0;
  margin: 0;
  border: 0; }

.section .container {
  height: auto;
  width: 100%;
  margin: auto;
  position: relative; }
  @media (max-width: 414px) {
    .section .container {
      width: 100%;
      padding-right: 20px;
      padding-left: 20px; } }
@media (min-width: 1240px) {
  .section .container {
    max-width: 1200px; } }
.section .section-inner {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center; }
  .section .section-inner h1 {
    width: 100%; }
    @media (max-width: 414px) {
      .section .section-inner h1 {
        font-size: 30px;
        line-height: 45px;
        margin-top: 40px; } }
  .section .section-inner h2 {
    width: 100%;
    margin-bottom: 30px; }
    @media (max-width: 414px) {
      .section .section-inner h2 {
        font-size: 18px;
        line-height: 27px;
        margin-bottom: 16px; } }
  .section .section-inner p {
    color: #FFFFFF;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 17px; }
    @media (max-width: 414px) {
      .section .section-inner p {
        font-size: 16px;
        line-height: 24px; } }
  .section .section-inner .form {
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    max-width: 570px; }
    @media (max-width: 414px) {
      .section .section-inner .form {
        display: flex;
        flex-direction: column; } }
    .section .section-inner .form .input {
      min-height: 50px;
      min-width: 270px;
      padding-left: 20px;
      margin-bottom: 1.5rem;
      border: 2px solid #FFFFFF;
      border-radius: 3px;
      background: none;
      display: block;
      flex: 1 1 0; }
      @media (max-width: 414px) {
        .section .section-inner .form .input {
          width: 100%;
          margin-bottom: 0px;
          margin-right: 0;
          margin-bottom: 24px; } }
      .section .section-inner .form .input::placeholder {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        color: #FFFFFF; }
      .section .section-inner .form .input:last-child {
        margin-right: 0; }
    .section .section-inner .form .input-button {
      width: 100%;
      background-color: #34C176;
      border: none;
      font-family: 'Arial';
      font-size: 13.3px;
      line-height: 15px;
      text-transform: uppercase;
      flex: 100%;
      order: 3;
      border-radius: 5px;
      padding: 20px 30px; }

/*Section-app*/
.section-app {
  padding-top: 100px;
  padding-bottom: 100px; }
  .section-app .container {
    height: auto;
    width: 100%;
    margin: auto;
    position: relative; }
    @media (max-width: 414px) {
      .section-app .container {
        padding-right: 20px;
        padding-left: 20px; } }
  @media (min-width: 1240px) {
    .section-app .container {
      max-width: 1200px; } }
  .section-app h2 {
    margin-bottom: 60px; }
    @media (max-width: 414px) {
      .section-app h2 {
        font-size: 18px;
        line-height: 27px;
        text-align: center; } }
  @media (max-width: 414px) {
    .section-app .mobile-item {
      display: flex;
      flex-wrap: wrap; } }
  .section-app .mobile-item .mobile-text {
    width: 50%;
    text-align: left; }
    @media (max-width: 414px) {
      .section-app .mobile-item .mobile-text {
        width: 100%;
        order: 2; } }
    .section-app .mobile-item .mobile-text p {
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 30px; }
    .section-app .mobile-item .mobile-text a {
      background: #95390C;
      border-radius: 32px;
      font-size: 12.8px;
      line-height: 19.2px;
      text-transform: none;
      padding: 16px 40px; }
  .section-app .mobile-item .mobile-img {
    width: 50%; }
    @media (max-width: 414px) {
      .section-app .mobile-item .mobile-img {
        display: block;
        width: 100%;
        order: 1; } }
    @media (max-width: 414px) {
      .section-app .mobile-item .mobile-img img {
        display: block;
        width: 100%; } }

/*Footer*/
.footer-section {
  height: auto;
  width: 100%;
  position: relative; }
  .footer-section.bg-gradient {
    background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%); }
  .footer-section .footer-section-inner {
    padding-top: 3rem;
    padding-bottom: 3rem;
    border-bottom: 1px solid #FFFFFF; }
  .footer-section .container {
    height: auto;
    width: 100%;
    margin: auto; }
    @media (max-width: 414px) {
      .footer-section .container {
        padding-right: 20px;
        padding-left: 20px;
        display: flex;
        flex-wrap: wrap;
        width: 100%; } }
  @media (min-width: 1240px) {
    .footer-section .container {
      max-width: 1200px; } }
  .footer-section .footer-inner {
    width: 25%; }
    @media (max-width: 414px) {
      .footer-section .footer-inner {
        width: 100%;
        padding-bottom: 30px; } }
    @media (max-width: 414px) {
      .footer-section .footer-inner:last-child {
        padding-bottom: 0px;
        display: inline-block; } }
    .footer-section .footer-inner img {
      padding-right: 24px; }
    .footer-section .footer-inner h2 {
      padding-bottom: 15px;
      color: #FFFFFF;
      font-size: 18px;
      line-height: 27px; }
      @media (max-width: 414px) {
        .footer-section .footer-inner h2 {
          padding-bottom: 16px; } }
    .footer-section .footer-inner li {
      list-style-type: none; }
    .footer-section .footer-inner .footer-link {
      display: inline-block;
      text-decoration: none;
      color: #E0E0E0; }
    .footer-section .footer-inner .footer-link-img {
      display: inline-block; }

.footer-contacts {
  padding-bottom: 2rem;
  padding-top: 2rem;
  display: flex;
  justify-content: flex-start; }
  @media (max-width: 414px) {
    .footer-contacts {
      display: flex;
      flex-wrap: wrap; } }
  .footer-contacts li {
    list-style-type: none; }
  .footer-contacts .contacts-link {
    text-decoration: none;
    color: #E0E0E0; }
    @media (max-width: 414px) {
      .footer-contacts .contacts-link {
        display: inline-block;
        width: 100%;
        padding-bottom: 16px; } }

/*Header*/
header {
  position: absolute;
  background: transparent;
  top: -175px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  vertical-align: middle;
  width: 100%; }
  @media (max-width: 414px) {
    header {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      width: calc(100% - 40px); } }
  header .nav-logo {
    display: flex;
    justify-content: space-between;
    margin-right: 90px;
    line-height: 16.5px;
    align-items: center; }
    @media (max-width: 414px) {
      header .nav-logo {
        justify-content: start;
        margin-bottom: 17px;
        margin-right: 0; } }
    header .nav-logo .logo {
      width: 24px;
      height: 24px; }
    header .nav-logo p {
      color: #cacaca;
      text-transform: uppercase; }
  header .header-nav {
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-style: normal; }
    @media (max-width: 414px) {
      header .header-nav {
        display: flex;
        flex-direction: column;
        margin-bottom: 18px;
        align-items: flex-start; } }
    header .header-nav li {
      list-style-type: none;
      display: inline-block;
      font-size: 11px;
      line-height: 16.5px; }
      @media (max-width: 414px) {
        header .header-nav li {
          display: block; } }
      header .header-nav li a {
        color: #cacaca;
        text-transform: uppercase; }
  header .input-nav {
    background: #3C3B3D;
    border-radius: 50px;
    margin-left: auto;
    min-width: 248px; }
    @media (max-width: 414px) {
      header .input-nav {
        margin-left: 0; } }
    header .input-nav::placeholder {
      min-width: 248px;
      padding-left: 10px;
      font-family: Arial;
      font-style: normal;
      font-weight: normal;
      font-size: 13.3px;
      line-height: 15.29px;
      text-transform: uppercase;
      color: #757575; }

/*Page-prising*/
.section-prising {
  padding-top: 100px;
  margin: 0 auto; }
  .section-prising .container {
    height: auto;
    width: 100%;
    margin: auto;
    position: relative; }
    @media (max-width: 414px) {
      .section-prising .container {
        width: 100%;
        display: block; } }
  @media (min-width: 1240px) {
    .section-prising .container {
      max-width: 1200px; } }
  .section-prising h2 {
    padding-bottom: 50px; }
    @media (max-width: 414px) {
      .section-prising h2 {
        font-size: 18px;
        line-height: 27px; } }
  .section-prising .section-prising-inner {
    display: flex;
    justify-content: space-around; }
    @media (max-width: 414px) {
      .section-prising .section-prising-inner {
        display: flex;
        flex-wrap: wrap; } }
    .section-prising .section-prising-inner .pricing-item {
      width: 33.33333%;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
      border-radius: 1rem;
      margin-right: 50px;
      height: auto;
      margin-bottom: 40px; }
      @media (max-width: 414px) {
        .section-prising .section-prising-inner .pricing-item {
          width: 100%;
          margin-right: 20px;
          margin-left: 20px; } }
      .section-prising .section-prising-inner .pricing-item.bg-free {
        background-image: url("../images/subscribe_1.png");
        background-size: cover; }
      .section-prising .section-prising-inner .pricing-item.bg-standart {
        background-image: url("../images/subscribe_2.png");
        background-size: cover; }
      .section-prising .section-prising-inner .pricing-item.bg-premium {
        background-image: url("../images/subscribe_3.png");
        background-size: cover; }
      .section-prising .section-prising-inner .pricing-item:last-child {
        margin-right: 0px; }
        @media (max-width: 414px) {
          .section-prising .section-prising-inner .pricing-item:last-child {
            margin-right: 20px; } }
      .section-prising .section-prising-inner .pricing-item h3 {
        padding-bottom: 200px;
        padding-top: 24px;
        line-height: 36px;
        font-weight: normal; }
        @media (max-width: 414px) {
          .section-prising .section-prising-inner .pricing-item h3 {
            font-size: 16px;
            line-height: 24px; } }
      .section-prising .section-prising-inner .pricing-item .pricing-value {
        margin-bottom: 40px;
        line-height: 1em;
        font-size: 64px;
        font-family: 'Roboto', sans-serif;
        text-transform: uppercase;
        font-weight: 400;
        font-style: normal; }
        .section-prising .section-prising-inner .pricing-item .pricing-value span {
          font-size: 32px;
          vertical-align: text-top;
          color: #FFFFFF; }
          @media (max-width: 414px) {
            .section-prising .section-prising-inner .pricing-item .pricing-value span {
              font-size: 32px;
              line-height: 48px; } }
      .section-prising .section-prising-inner .pricing-item .pricing-footer {
        color: #FFFFFF;
        margin-top: 64px;
        margin-bottom: 64px; }
      .section-prising .section-prising-inner .pricing-item .btn {
        background: none;
        border: 1px solid #FFFFFF;
        display: inline-block;
        font-size: 16px;
        line-height: 24px;
        text-decoration: none; }
        @media (max-width: 414px) {
          .section-prising .section-prising-inner .pricing-item .btn {
            font-size: 16px;
            line-height: 24px; } }
  .section-prising p {
    font-size: 16px;
    color: #FFFFFF;
    line-height: 24px; }
    @media (max-width: 414px) {
      .section-prising p {
        padding-right: 20px;
        padding-left: 20px; } }

/*News*/
/*News*/
.section-news {
  background-color: #08020d;
  padding-top: 100px;
  width: 100%;
  height: auto;
  text-align: center; }
  .section-news .container {
    height: auto;
    width: 100%;
    margin: auto;
    position: relative; }
    @media (max-width: 414px) {
      .section-news .container {
        width: 100%;
        padding-right: 20px;
        padding-left: 20px; } }
  @media (min-width: 1240px) {
    .section-news .container {
      max-width: 1200px; } }
  .section-news h2 {
    margin-bottom: 50px; }
    @media (max-width: 414px) {
      .section-news h2 {
        font-size: 18px;
        line-height: 27px;
        text-align: center; } }
  .section-news .news-item-first {
    display: flex;
    justify-content: space-between;
    text-align: left; }
    @media (max-width: 414px) {
      .section-news .news-item-first {
        flex-wrap: wrap; } }
    .section-news .news-item-first h3 {
      font-size: 30px;
      line-height: 45px;
      margin-bottom: 30px;
      text-transform: capitalize;
      font-weight: 400; }
      @media (max-width: 414px) {
        .section-news .news-item-first h3 {
          font-size: 16px;
          line-height: 24px;
          margin-bottom: 18px; } }
    .section-news .news-item-first:last-child {
      padding-bottom: 0; }
    .section-news .news-item-first .img-left {
      height: auto;
      width: auto;
      margin-right: 50px;
      margin-bottom: 65px; }
      @media (max-width: 414px) {
        .section-news .news-item-first .img-left {
          width: 100%;
          margin-bottom: 50px;
          margin-right: 0px; } }
    .section-news .news-item-first .news-body {
      width: 100%; }
    @media (max-width: 414px) {
      .section-news .news-item-first {
        display: block;
        width: 100%;
        margin-right: 0px; } }
  @media (max-width: 414px) {
    .section-news {
      display: block;
      width: 100%;
      margin-left: 0px; } }
  .section-news .news-footer {
    width: 100%;
    display: inline-block; }
    .section-news .news-footer a {
      background: none;
      border: 1px solid #FFFFFF;
      padding: 16px 30px;
      font-size: 12px;
      line-height: 19px;
      color: #cacaca; }
      @media (max-width: 414px) {
        .section-news .news-footer a {
          font-size: 12.8px;
          line-height: 19.2px;
          font-weight: 400; } }
  .section-news .news-author {
    display: flex;
    justify-content: start;
    width: 100%; }
    .section-news .news-author img {
      width: 19px;
      height: 19px; }
    .section-news .news-author p {
      margin-bottom: 48px;
      text-transform: uppercase; }
  .section-news .news-item-second {
    display: flex;
    justify-content: space-between;
    text-align: left; }
    @media (max-width: 414px) {
      .section-news .news-item-second {
        flex-wrap: wrap; } }
    .section-news .news-item-second h3 {
      font-size: 30px;
      margin-bottom: 30px;
      text-transform: capitalize;
      font-weight: 400; }
      @media (max-width: 414px) {
        .section-news .news-item-second h3 {
          font-size: 16px;
          line-height: 24px;
          margin-bottom: 18px; } }
    @media (max-width: 414px) {
      .section-news .news-item-second .news-block {
        flex-wrap: wrap;
        order: 1; } }
    .section-news .news-item-second .img-right {
      height: auto;
      width: auto;
      margin-left: 50px;
      margin-bottom: 65px; }
      @media (max-width: 414px) {
        .section-news .news-item-second .img-right {
          width: 100%;
          margin-left: 0px;
          margin-top: 64px;
          order: 2; } }

/*# sourceMappingURL=app.css.map */
