h1, h2, h3, h4 {
  font-family: Roboto, "Open Sans", sans-serif;
  text-transform: uppercase;
  color: #FFFFFF;
}

h1, h2, h4 {
  font-weight: 700;
}

h3 {
  font-weight: 400;
}

h1 {
  font-size: 60px;
  line-height: 90px;
}

h2 {
  font-size: 38px;
  line-height: 57px;
}

h3 {
  font-size: 38px;
  line-height: 57px;
}

h4 {
  font-size: 18px;
  line-height: 27px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input {
  padding: 0;
  margin: 0;
  border: 0;
  border: none;
}

.section {
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: url("../images/banner.png");
  background-position: center;
  background-size: cover;
}
.section .section-inner {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.section .section-inner h2 {
  margin-bottom: 30px;
}
.section .section-inner label {
  color: #FFFFFF;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  font-family: "Roboto", serif;
  margin-bottom: 17px;
}
.section .section-inner .form {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 570px;
}
.section .section-inner .form .input {
  width: 50%;
  min-height: 50px;
  min-width: 270px;
  padding-left: 20px;
  margin-bottom: 1.5rem;
  border: 2px solid #FFFFFF;
  border-radius: 3px;
  margin-right: 24px;
  background: none;
}
.section .section-inner .form .input::placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
}
.section .section-inner .form .input:last-child {
  margin-right: 0;
}
.section .section-inner .input-button {
  width: 100%;
  max-width: 570px;
  padding: 20px 30px;
  border-radius: 5px;
  background-color: #34C176;
  border: none;
  color: #FFFFFF;
  font-family: "Arial";
  font-size: 13.3px;
  text-transform: uppercase;
  font-weight: 400;
}

/*Header*/
ul {
  margin: 0;
  padding: 0;
}

header {
  position: absolute;
  top: 25px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-left: 120px;
  padding-right: 120px;
}
header .logo {
  width: 24px;
  height: 24px;
}
header .header-nav li {
  display: inline-block;
  padding-right: 24px;
  vertical-align: middle;
}
header .header-nav li:first-child {
  padding-left: 16px;
  padding-right: 90px;
}
header .header-nav li:last-child {
  padding-right: 0px;
}
header .header-nav li .nav-link {
  list-style: none;
  text-decoration: none;
  color: #cacaca;
  text-transform: uppercase;
  font-size: 10px;
  line-height: 16px;
  font-family: "Roboto", italic;
}
header .header-nav li:hover {
  color: #FFFFFF;
  font-size: 11px;
  transition: 0.2s;
}

.input {
  width: 245px;
  height: 25px;
  border-radius: 50px;
  background: #3C3B3D;
  margin-left: auto;
}

::placeholder {
  font-size: 13.3px;
  line-height: 15px;
  text-transform: uppercase;
  color: #757575;
  padding-left: 10px;
}

/*Footer*/
footer {
  background: linear-gradient(265.08deg, #95390C 14.9%, #5328A1 68.95%);
  position: relative;
}
footer::after {
  content: "";
  display: block;
  position: absolute;
  top: 272px;
  width: 100%;
  height: 1px;
  background: #FFFFFF;
}

.footer-section {
  padding: 60px 120px 72px 120px;
  height: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.footer-section::after {
  content: "";
  background-color: #FFFFFF;
  height: 1px;
  display: block;
}
.footer-section .footer-inner {
  width: 25%;
}
.footer-section .footer-inner img {
  padding-right: 24px;
  float: left;
}
.footer-section .footer-inner h4 {
  padding-bottom: 15px;
  color: #FFFFFF;
}
.footer-section .footer-inner .footer-link {
  display: block;
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #E0E0E0;
}

.footer-contacts {
  padding-left: 120px;
  padding-bottom: 50px;
  padding-top: 40px;
  display: flex;
  justify-content: flex-start;
}
.footer-contacts .contacts-link {
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #E0E0E0;
  margin-right: 16px;
}
.footer-contacts .contacts-link:last-child {
  margin-right: 0px;
}

/*# sourceMappingURL=app.css.map */
