* {
  font-family: Roboto,'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 1.5;
  color: #cacaca; }

h1, h2, h3, h4 {
  font-family: Roboto,'Open Sans', sans-serif;
  text-transform: uppercase;
  color: #FFFFFF; }

h1, h2, h4 {
  font-weight: 700; }

h3 {
  font-weight: 400; }

h1 {
  font-size: 60px;
  line-height: 90px; }

h2 {
  font-size: 38px;
  line-height: 57px; }

h3 {
  font-size: 24px;
  line-height: 45px; }

h4 {
  font-size: 18px;
  line-height: 27px; }

p {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  line-height: 100%;
  color: #FFFFFF; }

.section-artists .input-button, .section .section-inner .input-button, .section-app .mobile-item .mobile-text a, .section-prising .section-prising-inner .pricing-item a, .section-news .news-item .news-footer a {
  width: 100%;
  padding: 20px 30px;
  border-radius: 5px;
  color: #FFFFFF;
  text-transform: uppercase;
  font-weight: 400;
  text-decoration: none; }

.section-tracks .section-inner-track, .section-tracks .popular-track, .section-artists .form, .section .section-inner .form, .section-app .mobile-item, .footer-section .container, .section-news .news-item {
  display: flex;
  justify-content: space-between; }

.section-discography .discography-inner, .section-similar .similar-inner, .section-news .news-item .news-author {
  display: flex;
  justify-content: flex-start; }

.section-app, .section-prising {
  text-align: center;
  background-color: #08020d;
  width: 100%;
  height: auto; }

.section-discography .discography-inner .discography-item p, .section-similar .similar-inner .similar-item p, .section .section-inner label, .footer-section .footer-inner .footer-link, .footer-contacts .contacts-link, .section-news .news-item p {
  font-size: 16px;
  line-height: 24px;
  font-family: 'Roboto', serif;
  font-style: normal;
  font-weight: 400; }

ul {
  margin: 0;
  padding: 0; }

.section {
  padding-top: 200px;
  padding-bottom: 200px; }

/*Header*/
ul {
  margin: 0;
  padding: 0; }

header {
  position: absolute;
  left: 0;
  top: -175px;
  width: 100%;
  display: flex;
  justify-content: flex-end; }
  header .logo {
    width: 24px;
    height: 24px; }
  header .header-nav li {
    display: inline-block;
    vertical-align: middle; }
    header .header-nav li:first-child {
      padding-right: 90px; }
    header .header-nav li .nav-link {
      list-style: none;
      text-decoration: none;
      color: #cacaca;
      text-transform: uppercase;
      font-size: 10px;
      line-height: 16px;
      font-family: 'Roboto', italic; }
    header .header-nav li:hover {
      color: #FFFFFF;
      font-size: 11px;
      transition: .2s; }

.input {
  width: 245px;
  height: 25px;
  border-radius: 50px;
  background: #3C3B3D;
  margin-left: auto; }

::placeholder {
  font-size: 13.3px;
  line-height: 15px;
  text-transform: uppercase;
  color: #757575;
  padding-left: 10px; }

.section-tracks {
  background-color: #08020d;
  width: 100%;
  height: auto;
  text-align: center; }
  .section-tracks .container {
    height: auto;
    width: 100%;
    margin: auto; }
  @media (min-width: 1240px) {
    .section-tracks .container {
      max-width: 1200px; } }
  .section-tracks h2 {
    margin-bottom: 57px; }
  .section-tracks .section-inner-track {
    flex-direction: row; }
    .section-tracks .section-inner-track .inner-column {
      width: 50%;
      display: block; }
  .section-tracks .popular-track {
    margin: 25px 50px;
    vertical-align: middle; }
    .section-tracks .popular-track .track-info {
      text-align: left; }
    .section-tracks .popular-track span {
      margin-left: auto;
      color: #FFFFFF;
      font-size: 12.8px;
      line-height: 19.2px; }
  .section-tracks img {
    width: 55px;
    height: 55px;
    margin-right: 15px; }
  .section-tracks p {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12.8px;
    line-height: 19.2px; }
    .section-tracks p:first-child {
      font-weight: 700;
      text-transform: uppercase; }

.section-discography {
  background-color: #08020d;
  width: 100%;
  height: auto;
  text-align: center; }
  .section-discography .container {
    height: auto;
    width: 100%;
    margin: auto; }
  @media (min-width: 1240px) {
    .section-discography .container {
      max-width: 1200px; } }
  .section-discography h2 {
    margin-bottom: 48px; }
  .section-discography .discography-inner {
    flex-wrap: wrap; }
    .section-discography .discography-inner .discography-item {
      margin-right: 50px;
      margin-bottom: 25px; }
      .section-discography .discography-inner .discography-item img {
        width: 250px;
        height: 250px;
        margin-bottom: 18px; }
      .section-discography .discography-inner .discography-item h4 {
        text-transform: capitalize; }

.section-similar {
  background-color: #08020d;
  padding-bottom: 100px;
  width: 100%;
  height: auto;
  text-align: center; }
  .section-similar .container {
    height: auto;
    width: 100%;
    margin: auto;
    position: relative; }
  @media (min-width: 1240px) {
    .section-similar .container {
      max-width: 1200px; } }
  .section-similar h2 {
    margin-bottom: 48px; }
  .section-similar .similar-inner {
    flex-wrap: wrap; }
    .section-similar .similar-inner .similar-item {
      margin-bottom: 25px;
      text-align: center; }
      .section-similar .similar-inner .similar-item img {
        width: 250px;
        height: 250px;
        margin-bottom: 18px; }
      .section-similar .similar-inner .similar-item h4 {
        text-transform: capitalize; }

.section-artists {
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: url("../images/Morten Harket.png");
  background-position: center;
  background-size: cover; }
  .section-artists .container {
    height: auto;
    width: 100%;
    margin: auto;
    position: relative; }
  @media (min-width: 1240px) {
    .section-artists .container {
      max-width: 1200px; } }
  .section-artists h1 {
    margin-bottom: 16px; }
  .section-artists p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 48px; }
  .section-artists a img {
    width: 20px;
    height: 17.79px;
    margin-right: 16px;
    filter: invert(1);
    vertical-align: middle; }
  .section-artists .form {
    width: 100%;
    max-width: 570px; }
    .section-artists .form .input {
      width: 50%;
      min-height: 50px;
      min-width: 270px;
      padding-left: 20px;
      margin-bottom: 1.5rem;
      border: 2px solid #FFFFFF;
      border-radius: 3px;
      margin-right: 24px;
      background: none; }
      .section-artists .form .input:last-child {
        margin-right: 0; }
  .section-artists .input-button {
    width: 200px;
    background-color: #5328A1;
    border: none;
    font-family: 'Arial';
    font-size: 12.8px;
    padding: 20px 30px;
    margin-right: 1.5rem;
    display: inline-block; }
    .section-artists .input-button:last-child {
      margin-right: 0px;
      background-color: #95390C; }

.mr-24 {
  margin-right: 24px; }

.mr-16 {
  margin-right: 16px; }

.ml-16 {
  margin-left: 16px; }

.orange {
  color: #F89202; }

.mr-40 {
  margin-right: 40px; }

.mr-50 {
  margin-right: 50px; }

.ml-50 {
  margin-left: 50px; }

.mt-40 {
  margin-top: 40px; }

.pt-100 {
  padding-top: 100px; }

.mb-24 {
  margin-bottom: 24px; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

input {
  padding: 0;
  margin: 0;
  border: 0; }

.section {
  background-image: url("../images/banner.png");
  background-position: center;
  background-size: cover; }
  .section .container {
    height: auto;
    width: 100%;
    margin: auto;
    position: relative; }
  @media (min-width: 1240px) {
    .section .container {
      max-width: 1200px; } }
  .section .section-inner {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center; }
    .section .section-inner h2 {
      margin-bottom: 30px; }
    .section .section-inner label {
      color: #FFFFFF;
      text-align: center;
      margin-bottom: 17px; }
    .section .section-inner .form {
      width: 100%;
      max-width: 570px; }
      .section .section-inner .form .input {
        width: 50%;
        min-height: 50px;
        min-width: 270px;
        padding-left: 20px;
        margin-bottom: 1.5rem;
        border: 2px solid #FFFFFF;
        border-radius: 3px;
        background: none; }
        .section .section-inner .form .input::placeholder {
          font-family: Roboto;
          font-style: normal;
          font-weight: bold;
          font-size: 14px;
          line-height: 16px;
          color: #FFFFFF; }
        .section .section-inner .form .input:last-child {
          margin-right: 0; }
    .section .section-inner .input-button {
      max-width: 570px;
      background-color: #34C176;
      border: none;
      font-family: 'Arial';
      font-size: 13.3px; }

.section-app {
  padding-top: 100px;
  padding-bottom: 100px; }
  .section-app .container {
    height: auto;
    width: 100%;
    margin: auto;
    position: relative; }
  @media (min-width: 1240px) {
    .section-app .container {
      max-width: 1200px; } }
  .section-app h2 {
    padding-bottom: 60px; }
  .section-app .mobile-item .mobile-text {
    width: 50%;
    text-align: left; }
    .section-app .mobile-item .mobile-text p {
      font-size: 16px;
      line-height: 150%;
      margin-bottom: 30px; }
    .section-app .mobile-item .mobile-text a {
      background: #95390C;
      border-radius: 32px;
      padding: 16px 40px;
      font-size: 12.8px; }
  .section-app .mobile-item .mobile-img {
    width: 50%; }

/*Footer*/
.footer-section {
  height: auto;
  width: 100%;
  position: relative; }
  .footer-section.bg-gradient {
    background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%); }
  .footer-section .footer-section-inner {
    padding-top: 3rem;
    padding-bottom: 3rem;
    border-bottom: 1px solid #FFFFFF; }
  .footer-section .container {
    height: auto;
    width: 100%;
    margin: auto; }
  @media (min-width: 1240px) {
    .footer-section .container {
      max-width: 1200px; } }
  .footer-section .footer-inner {
    width: 25%; }
    .footer-section .footer-inner img {
      padding-right: 24px;
      float: left; }
    .footer-section .footer-inner h4 {
      padding-bottom: 15px;
      color: #FFFFFF; }
    .footer-section .footer-inner .footer-link {
      display: block;
      text-decoration: none;
      color: #E0E0E0; }

.footer-contacts {
  padding-bottom: 2rem;
  padding-top: 2rem;
  display: flex;
  justify-content: flex-start; }
  .footer-contacts .contacts-link {
    text-decoration: none;
    color: #E0E0E0; }
    .footer-contacts .contacts-link:last-child {
      margin-right: 0px; }

/*Header*/
ul {
  margin: 0;
  padding: 0; }

header {
  position: absolute;
  left: 0;
  top: -175px;
  width: 100%;
  display: flex;
  justify-content: flex-end; }
  header .logo {
    width: 24px;
    height: 24px; }
  header .header-nav li {
    display: inline-block;
    vertical-align: middle; }
    header .header-nav li:first-child {
      padding-right: 90px; }
    header .header-nav li .nav-link {
      list-style: none;
      text-decoration: none;
      color: #cacaca;
      text-transform: uppercase;
      font-size: 10px;
      line-height: 16px;
      font-family: 'Roboto', italic; }
    header .header-nav li:hover {
      color: #FFFFFF;
      font-size: 11px;
      transition: .2s; }

.input {
  width: 245px;
  height: 25px;
  border-radius: 50px;
  background: #3C3B3D;
  margin-left: auto; }

::placeholder {
  font-size: 13.3px;
  line-height: 15px;
  text-transform: uppercase;
  color: #757575;
  padding-left: 10px; }

/*Page-prising*/
.section-prising {
  padding-top: 100px;
  margin: 0 auto; }
  .section-prising .container {
    height: auto;
    width: 100%;
    margin: auto;
    position: relative; }
  @media (min-width: 1240px) {
    .section-prising .container {
      max-width: 1200px; } }
  .section-prising h2 {
    padding-bottom: 50px; }
  .section-prising .section-prising-inner {
    display: flex;
    justify-content: space-around; }
    .section-prising .section-prising-inner .pricing-item {
      width: 33.33333%;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
      border-radius: 1rem;
      margin-right: 50px;
      height: auto;
      margin-bottom: 40px; }
      .section-prising .section-prising-inner .pricing-item.bg-free {
        background-image: url("../images/subscribe_1.png");
        background-size: cover; }
      .section-prising .section-prising-inner .pricing-item.bg-standart {
        background-image: url("../images/subscribe_2.png");
        background-size: cover; }
      .section-prising .section-prising-inner .pricing-item.bg-premium {
        background-image: url("../images/subscribe_3.png");
        background-size: cover; }
      .section-prising .section-prising-inner .pricing-item:last-child {
        margin-right: 0px; }
      .section-prising .section-prising-inner .pricing-item h3 {
        padding-bottom: 200px;
        padding-top: 24px; }
      .section-prising .section-prising-inner .pricing-item .pricing-value {
        margin-bottom: 40px;
        line-height: 1em;
        font-size: 64px;
        font-family: 'Roboto', sans-serif;
        text-transform: uppercase;
        font-weight: 400;
        font-style: normal; }
        .section-prising .section-prising-inner .pricing-item .pricing-value span {
          font-size: 32px;
          vertical-align: text-top; }
      .section-prising .section-prising-inner .pricing-item .pricing-footer {
        font-size: 12.8px;
        line-height: 150%;
        color: #FFFFFF;
        padding-top: 64px;
        padding-bottom: 64px; }
      .section-prising .section-prising-inner .pricing-item a {
        background: none;
        text-decoration: none;
        border: 1px solid #FFFFFF;
        display: inline-block; }
  .section-prising p {
    font-size: 16px;
    color: #FFFFFF;
    line-height: 150%; }

/*News*/
.section-news {
  background-color: #08020d;
  padding-top: 100px;
  width: 100%;
  height: auto;
  text-align: center; }
  .section-news .container {
    height: auto;
    width: 100%;
    margin: auto;
    position: relative; }
  @media (min-width: 1240px) {
    .section-news .container {
      max-width: 1200px; } }
  .section-news h2 {
    margin-bottom: 50px; }
  .section-news .news-item {
    text-align: left;
    padding-bottom: 65px; }
    .section-news .news-item:last-child {
      padding-bottom: 0; }
    .section-news .news-item h3 {
      margin-bottom: 30px;
      text-transform: capitalize; }
    .section-news .news-item .item-img-left {
      height: auto;
      width: 50%; }
    .section-news .news-item .item-img-right {
      height: auto;
      width: 50%; }
    .section-news .news-item .news-footer a {
      background: none;
      border: 1px solid #FFFFFF; }
    .section-news .news-item .news-author img {
      width: 19px;
      height: 19px; }
    .section-news .news-item .news-author p {
      margin-bottom: 48px; }

/*# sourceMappingURL=app.css.map */
