@import "variables";
@import "general";
@import "artists";
@import "atomic-styles";
@import "mixins";

/*Header*/
@import "blocks/header";

/*Page-prising*/
@import "blocks/page-pricing";

/*News*/
@import "blocks/page-news";

* 
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input
{
padding: 0;
margin: 0;
border: 0;
}

.section {
   @extend %section-padding-200;

  

   .container {
      height: auto;
      width: 100%;
      margin: auto;
     position: relative;
     
     @include mobile-portrait-only {
         width: 100%;
         padding-right: 20px;
         padding-left: 20px;
      }

   


   }
      @media (min-width: 1240px){
         .container {
         max-width: 1200px;
         }
      }
      
      .section-inner {
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
      
      


      h1 {
         width: 100%;
         

         @include mobile-portrait-only {
            font-size: 30px;
            line-height: 45px;
            margin-top: 40px;
            
            
            
         }
      }

      h2 {
         width: 100%;
         margin-bottom: 30px;
         

         @include mobile-portrait-only {

            font-size: 18px;
            line-height: 27px;
            margin-bottom: 16px;
         }

      }

      p {
         @extend %text-style;
         color: $white;
         text-align: center;
         font-size: 16px;
         line-height: 24px;
         margin-bottom: 17px;
         
         
         





         @include mobile-portrait-only {
            font-size: 16px;
            line-height: 24px;
         }
      
      }

      .form {
         @extend %flex-between;
         flex-direction: row;
         flex-wrap: wrap;
         width: 100%;
         max-width: 570px;
         


         @include mobile-portrait-only {
            display: flex;
            flex-direction: column;

            
            
         }

   

         .input {
            
            min-height: 50px;
            min-width: 270px;
            padding-left: 20px;
            margin-bottom: 1.5rem;
            border: 2px solid $white;
            border-radius: 3px;
            background: none;
            display: block;
            flex: 1 1 0;
            
            

            @include mobile-portrait-only {
               width: 100%;
               margin-bottom: 0px;
               margin-right: 0;
               margin-bottom: 24px;
            }


            &::placeholder {
               font-family: 'Roboto';
               font-style: normal;
               font-weight: 700;
               font-size: 14px;
               line-height: 16px;
               color: $white;
            }


            &:last-child {
               margin-right: 0;
            }
         }

         .input-button {
            width: 100%;
            @extend %btn;
            background-color: $green;
            border: none;
            font-family: 'Arial';
            font-size: 13.3px;
            line-height: 15px;
            text-transform: uppercase;
            flex: 100%;
            order: 3;
            border-radius: 5px;
            padding: 20px 30px;
            
            
         }
         
        
      }
      
      

   


   
         

      
   }
}

/*Section-app*/

.section-app {
   @extend %section-style;
   

   .container {
      height: auto;
      width: 100%;
      margin: auto;
      position: relative;
      

      @include mobile-portrait-only {
         
         padding-right: 20px;
         padding-left: 20px;
      }
   }
   @media (min-width: 1240px){
      .container {
      max-width: 1200px;
      }
   }
   
   h2 {
      margin-bottom: 60px;


      @include mobile-portrait-only {
         font-size: 18px;
         line-height: 27px;
         text-align: center;
         margin-bottom: 48px;
      }

     
   }
   
   
   .mobile-item {

      @extend %flex-between;
      @include mobile-portrait-only {
         display: flex;
         flex-wrap: wrap;
      }

      .mobile-text {
         width: 50%;
         text-align: left;

         @include mobile-portrait-only {
            width: 100%;
            order: 2;
         }
      
      p {
         font-size: 16px;
         line-height: 24px;
         margin-bottom: 30px;


         @include mobile-portrait-only {
           margin-bottom: 15px;
         }



      }
      
      a {
         @extend %btn;
         background: $red;
         border-radius: 32px;
         font-size: 12.8px;
         line-height: 19.2px;
         text-transform: none;
         padding: 16px 40px;
         display: table-cell;
         
         
      }
      }
  

   .mobile-img {
      width: 50%;

      @include mobile-portrait-only {
         display: block;
         width: 100%;
         order: 1;
      }

      img {
         @include mobile-portrait-only {
            display: block;
            width: 100%;
            margin-bottom: 16px;
         }
      }
   }
  
}
}



/*Footer*/

.footer-section {
   width: 100%;
   

   @media screen and (max-width: 1250px) {
      .footer-contacts,
      .footer-top {
        padding-left: 20px;
        
      }

      @media screen and (max-width: 600px) {
         .footer {
           padding: 0 20px;
         }
       
         .footer-top {
           display: flex;
           flex-direction: column;
           padding-right: 0;
           padding-bottom: 44px;
           padding-left: 0;
       
           .footer-links:nth-child(4) {
             margin-top: 4px;
           }
         }
       
         .footer-links {
           width: 100%;
           margin-bottom: 30px;
           margin-left: 0%;
         }
       
         .footer-bottom {
           display: flex;
           flex-direction: column;
           align-items: unset;
           padding-left: 0;
       
           a {
             width: 100%;
             margin-right: 0;
             margin-bottom: 16px;
           }
         }
      }
       

      
    }

    

  
    
   

   .footer-top {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 62px 0 74px 0;
      
      @include mobile-portrait-only {
         display: flex;
         flex-direction: column;
         padding-right: 0;
         padding-bottom: 44px;
         padding-left: 20px;
     
         .footer-links:nth-child(4) {
           margin-top: 4px;
         }
      }


      }
      
      .footer-inner {
         display: flex;
         flex-direction: column;
         width: 270px;

         @include mobile-portrait-only {
            margin-bottom: 30px;
            width: 100%;
         }
       
         h2 {
           margin-bottom: 16px;

         }
       
         span {
           width: 100%;
           margin: 2px 0;
           padding: 2px 0;
         }
       
         ul {
           width: 100%;
           margin: 0;
           padding: 0;
           list-style-type: none;
       
           li {
               display: flex;
               align-items: center;
               padding: 2px 0;
            }
         }
      }

      p.footer-link {
         max-height: 24px;
       }
      
   }


   

   .line {
      position: absolute;
      left: 0;
      width: 100%;
      background-color: $gray;
      border: 1px solid $gray;
   }


.footer-contacts {
   
  display: flex;
  align-items: center;
  padding: 40px 0 48px 0;

      @include mobile-portrait-only {
         display: flex;
         flex-direction: column;
         flex-wrap: wrap;
         align-items: flex-start;
      }




   }





 
   li {
      list-style-type: none;
   }
   
   .contacts-link {
      color: $gray;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      text-decoration: none;
      display: block;

      @include mobile-portrait-only {
         display: inline-block;
         width: 100%;
         padding-bottom: 16px;
      }

      @media screen and (max-width: 600px) {
         .footer {
           padding: 0 20px;
         }
       
         .footer-top {
           display: flex;
           flex-direction: column;
           padding-right: 0;
           padding-bottom: 44px;
           padding-left: 0;
       
           .footer-links:nth-child(4) {
             margin-top: 4px;
           }
         }
       
         .footer-links {
           width: 100%;
           margin-bottom: 30px;
           margin-left: 0%;
         }
       
         .footer-bottom {
           display: flex;
           flex-direction: column;
           align-items: unset;
           padding-left: 0;
       
           a {
             width: 100%;
             margin-right: 0;
             margin-bottom: 16px;
           }
         }
       }
       






   }


