@import "variables";
@import "general";
@import "artists";
@import "atomic-styles";
@import "mixins";



* 
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input
{
padding: 0;
margin: 0;
border: 0;
}

.section {
   
   background-image: url('../images/banner.png');
   background-position: center;
   background-size: cover;
   @extend %section-padding-200;
  

   .container {
      height: auto;
      width: 100%;
      margin: auto;
      position: relative;
      padding: 0 20px;


     
         


      @include mobile-portrait-only {
         width: 100%;
         padding-right: 20px;
         padding-left: 20px;
      }

   


   }
      @media (min-width: 1240px){
         .container {
         max-width: 1200px;
         }
      }
      
      .section-inner {
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
      
      


      h1 {
         width: 100%;
         

         @include mobile-portrait-only {
            font-size: 30px;
            line-height: 45px;
            padding-top: 78px;
            
            
         }
      }

      h2 {
         width: 100%;
         margin-bottom: 30px;
         

         @include mobile-portrait-only {

            font-size: 18px;
            line-height: 27px;
            margin-bottom: 16px;
         }

      }

      p {
         @extend %text-style;
         color: $white;
         text-align: center;
         font-size: 16px;
         width: 100%;
         display: block;
         margin-block-start: 1em;
         margin-block-end: 1em;
         margin-inline-start: 0px;
         margin-inline-end: 0px;
   





         @include mobile-portrait-only {
            font-size: 16px;
            line-height: 24px;
         }
      
      }

      .form {
         @extend %flex-between;
         flex-direction: row;
         flex-wrap: wrap;
         width: 100%;
         max-width: 570px;


         @include mobile-portrait-only {
            
            width: 100%;
            margin-bottom: 24px;
         }

   

         .input {
            width: 50%;
            min-height: 50px;
            min-width: 270px;
            padding-left: 20px;
            margin-bottom: 1.5rem;
            border: 2px solid $white;
            border-radius: 3px;
            background: none;
            display: block;
            flex: 1 1 0;
            

            @include mobile-portrait-only {
               width: 100%;
               margin-bottom: 0px;
            }


            &::placeholder {
               font-family: Roboto;
               font-style: normal;
               font-weight: bold;
               font-size: 14px;
               line-height: 16px;
               color: $white;
            }


            &:last-child {
               margin-right: 0;
            }
         }

         .input-button {
            width: 100%;
            @extend %btn;
            max-width: 570px;
            background-color: $green;
            border: none;
            font-family: 'Arial';
            font-size: 13.3px;
            flex: 100%;
            order: 3;
            
            
         }
         
        
      }
      
      

   


   
         

      
   }
}

/*Section-app*/

.section-app {
   @extend %section-style;
   padding-top: 100px;
   padding-bottom: 100px;

   .container {
      height: auto;
      width: 100%;
      margin: auto;
      position: relative;
      

      @include mobile-portrait-only {
         
         padding-right: 20px;
         padding-left: 20px;


      }
   }
   @media (min-width: 1240px){
      .container {
      max-width: 1200px;
      }
   }
   
   h2 {
      margin-bottom: 60px;


      @include mobile-portrait-only {
         font-size: 18px;
         line-height: 27px;
         text-align: center;
      }

     
   }
   
   
   .mobile-item {

      @extend %flex-between;
      @include mobile-portrait-only {
         display: flex;
         flex-wrap: wrap;
      }

      .mobile-text {
         width: 50%;
         text-align: left;

         @include mobile-portrait-only {
            width: 100%;
            order: 2;
         }
      
      p {
         font-size: 16px;
         line-height: 24px;
         margin-bottom: 30px;
      }
      
      a {
         @extend %btn;
         background: $red;
         border-radius: 32px;
         font-size: 12.8px;
         line-height: 19.2px;
         display: block;
         width: fit-content;
      }
      }
  

   .mobile-img {
      width: 50%;

      @include mobile-portrait-only {
         display: block;
         width: 100%;
         order: 1;
      }

      img {
         @include mobile-portrait-only {
            display: block;
            width: 100%;
         }
      }
   }
  
}
}

/*Footer*/

.footer-section {
   
   height: auto;
   width: 100%;
   position: relative;

   &.bg-gradient {
      background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
   }
   
   .footer-section-inner{
      padding-top: 3rem;
      padding-bottom: 3rem;
      border-bottom: 1px solid $white;

      
   }


   .container {
      height: auto;
      width: 100%;
      margin: auto;  
      @extend %flex-between;

      @include mobile-portrait-only {
         padding-right: 20px;
         padding-left: 20px;
         display: flex;
         flex-wrap: wrap;
         width: 100%;
      }

   }   
   
   @media (min-width: 1240px){
      .container {
      max-width: 1200px;
      }
   }
   
   .footer-inner {
      width: 25%;

      @include mobile-portrait-only {
         width: 100%;
         padding-bottom: 30px;
      }

      &:last-child {
         @include mobile-portrait-only {
            padding-bottom: 0px;

            display: inline-block;
         }
      }
      
      
      img {
      padding-right: 24px;
      }

      h2 {
         padding-bottom: 15px;
         color: $white;
         font-size: 18px;
         line-height: 27px;

         @include mobile-portrait-only {
            padding-bottom: 16px;
         }
      }

      li {

      list-style-type: none;
      }
      
      

      .footer-link {
         @extend %text-style;
         display: inline-block;
         text-decoration: none;
         color: $gray;

    
   
         }

         .footer-link-img {
            display: inline-block;
         }

      

      }
   }


.footer-contacts {
   
   padding-bottom: 2rem;
   padding-top: 2rem;
   display: flex;
   justify-content: flex-start;

   @include mobile-portrait-only {
      display: flex;
      flex-wrap: wrap;
   }

   li {
      list-style-type: none;
   }
   
   .contacts-link {
      @extend %text-style;
      text-decoration: none;
      color: $gray;

      @include mobile-portrait-only {
         display: inline-block;
         width: 100%;
         padding-bottom: 16px;
      }
      


      
   }
}


  



/*Header*/
@import "blocks/header";

/*Page-prising*/
@import "blocks/page-pricing";

/*News*/
@import "blocks/page-news";
