@import "variables";
@import "general";

* 
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input
{
padding: 0;
margin: 0;
border: 0;
}

.section {
   padding-top: 200px;
   padding-bottom: 200px;
   background-image: url('../images/banner.png');
   background-position: center;
   background-size: cover;

   
   .section-inner {
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;

      h2 {
         margin-bottom: 30px;

      }

      label {
         color: $white;
         font-size: 16px;
         line-height: 24px;
         text-align: center;
         font-family: 'Roboto', serif;
         margin-bottom: 17px;
      
      }

      .form {
         @extend %flex-between;
         width: 100%;
         max-width: 570px;

   

         .input {
            width: 50%;
            min-height: 50px;
            min-width: 270px;
            padding-left: 20px;
            margin-bottom: 1.5rem;
            border: 2px solid $white;
            border-radius: 3px;
            margin-right: 24px;
            background: none;

            &::placeholder {
               font-family: Roboto;
               font-style: normal;
               font-weight: bold;
               font-size: 14px;
               line-height: 16px;
               color: $white;
            }


            &:last-child {
               margin-right: 0;
            }

            
         
         }
         
        
      }
      
      

      .input-button {
         @extend %btn;
         max-width: 570px;
         background-color: $green;
         border: none;
         font-family: 'Arial';
         font-size: 13.3px;
         
         
      }


   
         

      
   }
}

.section-app {
   @extend %section-style;
   padding-top: 100px;
   padding-bottom: 100px;
   
   h2 {
      padding-bottom: 60px;
   }
   
   
   .mobile-item {

      @extend %flex-between;

      .mobile-text {
         width: 50%;
         text-align: left;
      
      p {
         font-size: 16px;
         line-height: 150%;
         margin-bottom: 30px;
      }
      
      a {
         @extend %btn;
         background: $red;
         border-radius: 32px;
         padding: 16px 40px;
         font-size: 12.8px;
         
      
      }
      }
  

   .mobile-img {
      width: 50%;
   }
  
}
}

footer {
   background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
   position: relative;
   
   

}

.footer-section {
   
   padding-top: 3rem;
   padding-bottom: 3rem;
   height: auto;
   width: 100%;
   @extend %flex-between;
   
   .footer-inner {
      width: 25%;
      
      
      img {
         padding-right: 24px;
         float: left;
        
      }

      h4 {
         padding-bottom: 15px;
         color: $white;
      }

      .footer-link {
         display: block;
         text-decoration: none;
         font-family: 'Roboto';
         font-style: normal;
         font-weight: 400;
         font-size: 16px;
         line-height: 24px;
         color: $gray;

      }
   }
}

.footer-contacts {

  
 
   border-top: 1px solid $white;
   padding-bottom: 2rem;
   padding-top: 2rem;
   display: flex;
   justify-content: flex-start;
   
   .contacts-link {
      text-decoration: none;
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: $gray;
      margin-right: 16px;


      &:last-child {
         margin-right: 0px;
      }
   }
}


  



/*Header*/
@import "blocks/header";

/*Page-prising*/
@import "blocks/page-pricing";

/*News*/
@import "blocks/page-news";