
/*Header*/
@import "blocks/header";
@import "blocks/tracks";
@import "blocks/discography";
@import "blocks/similar";
@import "mixins";
@import "general";


.section-artists {
      
      background-image: url('../images/Morten\ Harket.png');
      background-position: center;
      background-size: cover;
      
      .container {
         height: auto;
         width: 100%;
         margin: auto;
         position: relative;

         @include mobile-portrait-only {

            width: 100%;
            padding-right: 20px;
            padding-left: 20px;
           
         }



         .input-button {
            @extend %btn;
            width: 200px;
            background-color: $purple;
            border: none;
            font-family: 'Arial';
            font-size: 12.8px;
            padding: 20px 30px;
            margin-right: 1.5rem;
            display: inline-block;
            
            @include mobile-portrait-only {
               margin-bottom: 24px;
               margin-right: 0;

               &:last-child {

                  margin-bottom: 0;
               }


               }
      
            
   
            &:last-child {
               margin-right: 0px;
               background-color: $red;
            }
         }
   





      }


      @media (min-width: 1240px){
         .container {
         max-width: 1200px;
         }
      }
   

      h1 {
         margin-bottom: 16px;
         @include mobile-portrait-only {
            font-size: 30px;
            line-height: 45px;
         }
      }
      
      .fans-counter {
         font-size: 16px;
         line-height: 24px;
         margin-bottom: 48px;
      }
      

      a img {
            width: 20px;
            height: 17.79px;
            margin-right: 16px;
            filter: invert(1);
            vertical-align: middle;
           
         }

      

      .form {
         @extend %flex-between;
         width: 100%;
         max-width: 570px;

         .input {
            width: 50%;
            min-height: 50px;
            min-width: 270px;
            padding-left: 20px;
            margin-bottom: 1.5rem;
            border: 2px solid $white;
            border-radius: 3px;
            margin-right: 24px;
            background: none;
            
            &:last-child {
               margin-right: 0;
            }
         }
      }
      
      

      

      
}
