
.mr-24 {
   margin-right: 24px;
}

.mr-16 {
   margin-right: 16px;
}

.ml-16 {
   margin-left: 16px;
}

.orange {
   color: $orange;
}

.mr-40 {
   margin-right: 40px;
}

.mr-50 {
   margin-right: 50px;
}

.ml-50 {
   margin-left: 50px;
}



.mt-40 {
   margin-top: 40px;
}

.pt-100 {
   padding-top: 100px;
}

.mb-24 {
   margin-bottom: 24px;
}