
h1, h2, h3, h4 {
   font-family: Roboto,'Open Sans', sans-serif;
   text-transform: uppercase;
   color: $white;
}

h1, h2, h4 {
   font-weight: 700;
}

h3 {
   font-weight: 400;
}

h1 {
   font-size: 60px;
   line-height: 90px;
}

h2 {
   font-size: 38px;
   line-height: 57px;
}

h3 {
   font-size: 24px;
   line-height: 45px;
}


h4 {
   font-size: 18px;
   line-height: 27px;
}

p {
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 64px;
line-height: 100%;
color: $white;
}


%btn {
   width: 100%;
   padding: 20px 30px;
   border-radius: 5px;
   color: $white;
   text-transform: uppercase;
   font-weight: 400;
   text-decoration: none;
}

%flex-between {
   display: flex;
   justify-content: space-between;
}

%section-style {
   text-align: center;
   background-color: $black;
   width: 100%;
   height: auto;
}

@mixin reset {
   margin: 0;
   padding: 0;
 }

ul {
   @include reset;
}

header {
   position: absolute;
   top: 25px;
   width: 100%;
   display: flex;
   justify-content: flex-end;
   padding-left: 120px;
   padding-right: 120px;


   
   .logo {
      width: 24px;
      height: 24px;
      
      
   }

   .header-nav li {
      display: inline-block;
      padding-right: 24px;
      vertical-align: middle;  

      &:first-child {
         padding-left: 16px;
         padding-right: 90px;
      }

      &:last-child {
         padding-right: 0px;
      }
      
      .nav-link {
      list-style: none;
      text-decoration: none;
      color: $darkgray;
      text-transform: uppercase;
      font-size: 10px;
      line-height: 16px;
      font-family: 'Roboto', italic;

   
      }
      
      &:hover {
         color: $white;
         font-size: 11px;
         transition: .2s;
      }

      }
   }

   .input {
      width: 245px;
      height: 25px;
      border-radius: 50px;
      background: #3C3B3D;
      margin-left: auto;

   }

   ::placeholder {
   font-size: 13.3px;
   line-height: 15px;
   text-transform: uppercase;
   color: #757575;
   padding-left: 10px;


      
      
   }







