
* {
font-family: Roboto,'Open Sans', sans-serif;
font-size: 18px;
line-height: 1.5;
color: $darkgray;

}




h1, h2, h3, h4 {
   font-family: Roboto,'Open Sans', sans-serif;
   text-transform: uppercase;
   color: $white;
}

h1, h2, h4 {
   font-weight: 700;
}

h3 {
   font-weight: 400;
}

h1 {
   font-size: 60px;
   line-height: 90px;
}

h2 {
   font-size: 38px;
   line-height: 57px;
}

h3 {
   font-size: 24px;
   line-height: 45px;
}


h4 {
   font-size: 18px;
   line-height: 27px;
}

p {
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: normal;
color: $white;
}


%btn {
   width: 100%;
   padding: 20px 30px;
   border-radius: 5px;
   color: $white;
   text-transform: uppercase;
   font-weight: 400;
   text-decoration: none;
}

%flex-between {
   display: flex;
   justify-content: space-between;
}
%flex-start {
   display: flex;
   justify-content: flex-start;
}

%section-style {
   text-align: center;
   background-color: $black;
   width: 100%;
   height: auto;
}

%text-style {
   font-size: 16px;
   line-height: 24px;
   font-family: 'Roboto', serif;
   font-style: normal;
   font-weight: 400;
}

@mixin reset {
   margin: 0;
   padding: 0;
 }

ul {
   @include reset;
}


%section-padding-200 {
   padding-top: 200px;
   padding-bottom: 200px;
}


%text-small {
   font-size: 12.8px;
   line-height: 19.2px;
}



   






